__pycache__/
.DS_Store
.vscode/
apyce/__pycache__/
.ipynb_checkpoints
.idea/
tests/.pytest_cache/
.pytest_cache
venv/
apyce.egg-info
build
dist
venv3/
examples/PERMVALUES.DATA
examples/Results/
examples/SPE9.DATA
examples/TOPSVALUES.DATA
examples/grid.data
examples/gridz.data
